/* stylesheet for all pages */
@font-face{
    font-family: "Beyond Wonderland";
    src: url("./fonts/Beyond\ Wonderland.woff2") format("woff2"),
        url("./fonts/Beyond\ Wonderland.woff") format("woff");
}

@font-face{
    font-family: "Great Vibes";
    src: url("./fonts/GreatVibes-Regular.woff2") format("woff2"),
        url("./fonts/GreatVibes-Regular.woff") format("woff");
}

:root {
    --base-background-color: gray;
    --content-background-color: rgb(59, 18, 18);
    --secondary-color: yellow;
    --wood-texture: url(./images/oak-texture.jpg);
    --white-text-color: white;
    --box-shadow-settings: 2px 2px 2px black;
}

h1, h2, h3, p, div{
    padding:0;
    margin:0;
}

p{
    min-width: 50ch;
    max-width: 80ch;
}

body{
    background-color: var(--base-background-color);
    margin:0;
}

/* style buttons */
nav {
    display: flex;
    justify-content: center;
    gap: max(40px, 5vw);
}

header{
    margin: 20px;
}

header .button{
    background: var(--wood-texture);
    border: 2px solid var(--white-text-color);
    padding: 10px 40px;
    color: var(--white-text-color);
    font-size: 24px;
    box-shadow: var(--box-shadow-settings);
}

/* every page will use the same content backing and page layout*/
.page{
    margin: 50px;
    margin-top: 0;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    color: var(--white-text-color);
}

.page > * {
    background: var(--content-background-color);
    border-width: 5px;
    border-style: solid;
    border-image: var(--wood-texture) round;
    border-image-slice: 50;
    box-shadow: var(--box-shadow-settings);
    padding: 8px;
    min-width: min-content;
}

/* style home page */
.home.page .header.area{
    min-width: 505px;
}

.home.page .header h1{
    font-family:"Beyond Wonderland";
    text-align: center;
    font-weight:normal;
    font-size: 50px;
}

.home.page .intro.area {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    gap: 10px;
    min-width: 591px;
}

.home.page .intro.area .intro.text2, .home.page .intro.area .cheers{
    text-align:center;
}

.home.page .intro.area .cheers{
    font-family:"Great Vibes";
    font-size: 50px;
}

.home.page .description.area{
    display:flex;
    justify-content: space-around;
    gap: 20px;
    min-width: 788px;
}

.home.page .description.text{
    display:grid;
    grid-auto-rows: max(30px,min-content) 50px;
    gap: 3px;
}


.home.page .description.area h2{
    font-size: 30px;
    min-width:269px;
}

.home.page .description.area p{
    font-size: 16px;
    min-width:269px;
}

.home.page .description.area img{
    height: 255px;
    justify-self: end;
}

/* styling menu page, note that background, border, and font color are styled earlier*/
.menu.page .header.area h1{
    text-align: center;
    font-weight:normal;
    font-size: 40px;
}

.menu.page .header.area{
    width: min-content;
    padding: 0 70px;
    align-self: center;
}

/* override general page content background so that we can apply it to each menu item individually */
.menu.page .meal.area, .menu.page .drink.area {
    padding:0;
    background: none;
    border: none;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 23px;
    box-shadow: none;
}

.menu.page .item.area{
    background: var(--content-background-color);
    border-width: 5px;
    border-style: solid;
    border-image: var(--wood-texture) round;
    border-image-slice: 50;
    box-shadow: var(--box-shadow-settings);
    padding: 8px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 20px;
    padding-top: 10px;
}

.menu.page p{
    min-width: 0;
    margin-bottom: 5px;
}

.menu.page img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* stylize about page */
.about.page .bio.area{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.about.page .contact-form{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(3,min-content);
    grid-auto-rows: min-content; 
    align-items: center;
    margin: 10px;
    gap: 20px;
}

.about.page .contact-form input, .about.page .contact-form textarea{
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
}

.about.page .contact-form textarea{
    font-family: Arial, Helvetica, sans-serif;
    resize: vertical;
}

.about.page .contact-form .submit.button{
    grid-column: 2/3;
    width: 80px;
    justify-self: end;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
}